<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Devblog</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
</head>
<body>
  {% include header.html %}
  <p><a href="https://github.com/ikuyasu/devblog">My Github page</a></p>
  {{ content }}
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=ikuyas-20&marketplace=amazon&region=US&placement=B07538HTWG&asins=B07538HTWG&linkId=a70c67d61a99ffe5f53b88883dcca4e9&show_border=true&link_opens_in_new_window=true"></iframe>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=ikuyas-20&marketplace=amazon&region=US&placement=B01LXOJZJ9&asins=B01LXOJZJ9&linkId=c2d44c7671f5b7250fed69c05f20fd33&show_border=true&link_opens_in_new_window=true"></iframe>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=ikuyas-20&marketplace=amazon&region=US&placement=B00OMDZAV0&asins=B00OMDZAV0&linkId=150ebb775063830118ac213cf1b6d5fa&show_border=true&link_opens_in_new_window=true"></iframe>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=ikuyas-20&marketplace=amazon&region=US&placement=B07588QHHD&asins=B07588QHHD&linkId=304d29b623daee6ebf41eb4fae08a16f&show_border=true&link_opens_in_new_window=true"></iframe>
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=ikuyas-20&marketplace=amazon&region=US&placement=B01N8T3XOE&asins=B01N8T3XOE&linkId=1b9f483c442a49646adc6eac0d0aae7d&show_border=true&link_opens_in_new_window=true"></iframe>
  {% include footer.html %}
</body>
</html>
