<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Devblog</title>
  <link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
</head>
<body>
  {% include header.html %}
  {{ content }}
  <iframe style="width:120px;height:240px;" marginwidth="0" marginheight="0" scrolling="no" frameborder="0" src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=US&source=ss&ref=as_ss_li_til&ad_type=product_link&tracking_id=ikuyas-20&marketplace=amazon&region=US&placement=B00OMDZAV0&asins=B00OMDZAV0&linkId=150ebb775063830118ac213cf1b6d5fa&show_border=true&link_opens_in_new_window=true"></iframe>
  {% include footer.html %}
</body>
</html>
